/* ------------------BASIC STYLES------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Tajawal', sans-serif;
    color: rgb(255, 255, 255);
    -webkit-tap-highlight-color: transparent; /*Chrome on Android, Brave.*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --green: #35BE88;
}

body {
    line-height: 1;
    background-image: linear-gradient(to bottom, #191a22, #191a21, #191a21, #191a20, #191a1f);
}
ul {
    list-style: none;
}

header,
main,
footer {
    margin: 1rem;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 200;
    /* margin-top: 2rem; */ /*No need if using grid*/
}
h4 {
    font-size: 16px;
    font-weight: 100;
}

#logo {
    display:inline-block;
    width: 40%;
}


/* ------------------RADIO SECTIONS------------------ */
.container-section {
    display:grid;
    /* grid-template-columns: 1fr; */
    grid-gap: 1rem;
    margin-top: 2rem;
    /* width: 50%; */
}

.radio-item-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
    grid-auto-rows: minmax(150px, 300px);
    grid-auto-flow: row;
    grid-gap: 0.8rem;
}

.radio-image {
    /* Set two background images, the second for the Play image. */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #272833; 

    width: 100%;
    border-radius: 4px;
}

#fav1 {
    background-image: url('http://www.offradio.gr/sites/all/themes/offradio_theme/facebook.png');
}
#fav2 {
    background-image: url('http://cdn.e-radio.gr/logos/gr/big/bestradio.png');
}
#fav3 {
    background-image: url('../radio-images/enlefko.png');
}
#fav4 {
    background-image: url('https://www.imagine897.gr/images/folder/logos/mobile-logos/logomobile.png');
}
#fav5 {
    background-image: url('http://cdn.e-radio.gr/logos/gr/big/pepper966.png');
}

.radio-item {
    background-color: #2C2E3D; 
    background-color: #272833;
    border-radius: 4px;
    opacity: 0.85;
    transition:  0.1s ease-in;
    display: flex;
    justify-content: center;
    padding: 2px;
    transition: 0.15s ease-out;
}
.radio-item-hover {
    z-index: 1;
    cursor: pointer;
    opacity: 1;
    background-color: #345b75; 
    background-color: #289faa; 
    transform: translateY(-20px) scale(1.07) scaley(1.05);
    box-shadow: 0 5px 10px rgba(8, 8, 8, 0.377);
    transition: 0.12s ease-out;
}

.radio-item-active {  
    z-index: 2;
    cursor: pointer;  
    opacity: 1;    
    
    background: #31c88c;
    background-image: linear-gradient(to left bottom, #31c88c, #28c692, #20c498, #19c29d, #16c0a2);
    transform: translateY(-23px) scale(1.09) scaley(1.07);
    box-shadow: 0 3px 10px rgba(31, 99, 98, 0.514);
    transition: all 0.1s ease-out;
}

/* .radio-image:hover {
    border: #16c0a2 2px solid;
    NO BORDER: the image scales every time the border appears due to box-sizing: border-box, appearing clanky.
    Plus, parent's padding works on every child element contained within, e.g. the radio name. Border would be a problem there.
} */

/* ------------------PLAY IMAGE------------------ */
.play-image {
    /* Prompt the user to select a radio first. No animation unless a radio is selected. */
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.678);
    display: inline-block;
    width: 100px;
    height: 100px; 
    background: url("../assets/play-image-white.svg") center no-repeat;
    background-size: 50%;
    border-radius: 50%; 
    transition: 0.2s ease-out;

}

.play-image-hover {
    cursor: pointer;
    border: 1px solid var(--green);
    background-color: rgb(53, 190, 136, 0.8);
    background-size: 65%;
    transition: 0.2s ease-out;
}

.play-image-active {
    cursor: pointer;
    border: 1px solid var(--green);
    transform: rotate(180deg);
    background-image: url('../assets/pause-image-white.svg');
    background-size: 40%;
    transition: 0.2s ease-out;
}

.play-image-active-hover {
    cursor: pointer;
    border: 1px solid var(--green);
    background-image: url('../assets/pause-image-white.svg');
    background-size: 55%;
    background-color: rgb(53, 190, 136, 0.8);
    transform: rotate(180deg);
    transition: 0.2s ease-out;
}



/* On white background:
play-image {
    background-image: url('/assets/play-image-green.svg');
    border: grey;
}

play-image: hover {
    border: #35BE88;
*/
/* On mobile, Play has a green background (as hover) ONLY when a radio is selected and paused. By default it's white. This indicates that it won't do anything if a radio is not selected. */
/* The theme changes based on current time (sunset theme - more orangy, Zen theme - green dark background at night, funky white during the day, etc.). Menu which lets you choose your theme. */