* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Tajawal', sans-serif;
    color: rgb(255, 255, 255);
    -webkit-tap-highlight-color: transparent; /*Chrome on Android, Brave.*/
    -webkit-touch-callout: none;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    Those break desktop too. */
}

*::-moz-selection{
    color:var(--green);
    background-color: var(--red);
}

:root {
    /* declare all vars here! */
    /* --green: #31c88c; */
    --darkred: #D9361F;
    --red: #FE2F14;
    --orangy: #E96727;
    --orange: #FC6713;
    --green: #35BE88;
}

body {
    line-height: 1;
    background-image: linear-gradient(to bottom, #191a22, #191a21, #191a21, #191a20, #191a1f);
}
ul {
    list-style: none;
}

header,
main,
footer {
    margin: 1rem;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
a {
    text-decoration-color: var(--green);
}
a:hover{
    /* background-color: white; */
    color: var(--green);
}


h2 {
    font-size: 24px;
    font-weight: 200;
    /* margin-top: 2rem; */ /*No need if using grid*/
}
h4 {
    font-size: 16px;
    font-weight: 100;
}
.fa.fa-github{
    font-size:28px;
    margin-right: 3px;
}

#logo {
    display:inline-block;
    width: 40%;
}