/* ---------Basic styles and resetting--------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Tajawal', sans-serif;
    color: rgb(255, 255, 255);
}

body {
    line-height: 1;
    background-color: #191A22;
}

header,
main,
footer {
    /* border: 1px solid white; */
    margin: 1rem;
    /* max-width: 100%; */
}

h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 200;
    margin-top: 2rem;
}


ul {
    margin-top: 1rem;
    list-style: none;
}


/* ---------Applying grid styles to the main section--------- */
/* section{
    max-width: 50vw;
}

#radioSectionsContainer{
    max-width: 70vw;
} */

li > div {
    background-image: url('https://www.offradio.gr/sites/all/themes/offradio_theme/facebook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.radioWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.8rem;
}

.radioItem {
    background-color: #272833;
    padding: 0.3rem;
}

.radioItem:hover {
    background-color: #4e5174;
}

.radioItem:active {
    background-color: rgb(51, 185, 125);

}

img {
    width: 100%;
    height: 100%;
    /* The image will now try to fit to the box containing it. */
    /* Applying width and height on the html doesn't work. */
}

/* Color ideas:
    MDN: {
        background-color: #222;
        color: #fff;
        color: #83d0f2 
    }
*/

/* ---------Button and player wrapper styles--------- */

button {
    background-color: #4e5174;
    height: 30px;
    min-width: 50px;
}

/* vertical-align: baseline; This is for the images. */

/* Use Display:inline-block for the images. https://www.w3schools.com/css/css_inline-block.asp */