/* ---------Basic styles and resetting--------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Tajawal', sans-serif;
    /* color: rgb(255, 255, 255); */
    color: #fff;
}

body {
    line-height: 1;
    /* background: rgb(25,26,34); */
    background-image: linear-gradient(to bottom, #191a22, #191a21, #191a21, #191a20, #191a1f);
}

header,
main,
footer {
    margin: 1rem;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 200;
    margin-top: 2rem;
}


ul {
    margin-top: 1rem;
    list-style: none;
}


/* ---------Applying grid styles to the main section--------- */
/* section{
    max-width: 50vw;
}

#radioSectionsContainer{
    max-width: 70vw;
} */

.radioContainer{ /*Might use #radioSectionsContianer but will have to format the h2 too.*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.8rem;
}

.radioImage {
    background-image: url('./radio-images/parapolitika.svg');
    background-image: url('http://www.offradio.gr/sites/all/themes/offradio_theme/facebook.png');
    background-image: url('./radio-images/imagine897.png');
    background-color: #191A22;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.radioItem, .radioItemTest {
    cursor: pointer;

    background-color: #272833;
    padding: 1.5%;
    border-radius: 4px;
    opacity: 0.85;
    transition:  0.08s ease-in-out;    
}

.radioItem:hover,
 .radioItemHover {
    z-index: 100;
    cursor: pointer;
    background-color: #345b75; 
    opacity: 1;
    transform: translateY(-20px) scale(1.07) scaley(1.05);
    box-shadow: 0 5px 10px rgba(8, 8, 8, 0.377);
    transition: 0.15s ease-out;
}

.radioItem:active, 
.radioItemActive {  
    z-index: 100;
    cursor: pointer;  
    background-color: rgb(73, 177, 180);
    transform: translateY(-20px) scale(1.07) scaley(1.05);
    box-shadow: 0 3px 10px rgba(31, 80, 99, 0.555);
    transition: all 0.1s easy-in;
}




img { /* Temporary. Will be replaced by background. */
    width: 100%;
    height: 100%;
    border-radius: 4px;
    /* The image will now try to fit to the box containing it. */
    /* Applying width and height on the html doesn't work. */
}




/* Play image NYI. PH styles. */
/* Turn the play image into an inline-block, alongside menu and favorite buttons. */
.play-image{
    background-color: rgba(110, 130, 141, 0.192); 
    border-radius: 50%;
}
.play-image-container{
    padding: 27%;
    opacity: 0;
    transition: 0.05s ease-out;
}

.play-image-container:hover{
    transition: 0.05s ease-out;
    opacity: 1;
}




/* Color ideas:
    MDN: {
        background-color: #222;
        color: #fff;
        color: #83d0f2 
    }
    hover:{
        background-color: #4e5174;
        background-color: #455381;
        background-color: #305268;
        background-color: #375b74;
    }
    active: {
        background-color: rgb(51, 185, 125);
        background-color: #e9c259;
        background-color: rgb(35, 210, 170);
        background-color: #83d0f2;
        background-color: rgb(51, 214, 219);
        background-color: rgb(73, 150, 180); 
        background-color: rgb(38, 194, 199);
        background-color: #00c9b7;

    }
*/

/* ---------Button and player wrapper styles--------- */

button {
    background-color: #4e5174;
    background-color: #83d0f2;
    background-color: rgb(41, 209, 170);
    background-color: rgb(51, 214, 219);
    background-color: rgb(38, 194, 199);

    /* color: #fff; */
    height: 30px;
    min-width: 50px;
}

/* vertical-align: baseline; This is for the images. */

/* Use Display:inline-block for the images. https://www.w3schools.com/css/css_inline-block.asp */