/* ---------Basic styles and resetting--------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Tajawal', sans-serif;
    /* color: rgb(255, 255, 255); */
    color: #fff;
}

body {
    line-height: 1;
    background-color: #191A22;
}

header,
main,
footer {
    /* border: 1px solid white; */
    margin: 1rem;
    /* max-width: 100%; */
}

h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 200;
    margin-top: 2rem;
}


ul {
    margin-top: 1rem;
    list-style: none;
}


/* ---------Applying grid styles to the main section--------- */
/* section{
    max-width: 50vw;
}

#radioSectionsContainer{
    max-width: 70vw;
} */

li > div {
    background-image: url('https://www.offradio.gr/sites/all/themes/offradio_theme/facebook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.radioWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.8rem;
}

.radioItem {
    background-color: #272833;
    padding: 0.3rem;
    border-radius: 4px;
}

.radioItem:hover {
    background-color: #4e5174;
    background-color: #455381;
    background-color: #305268;
    background-color: #375b74;
    background-color: #345b75; /*<----- Most likely*/ 
    cursor:pointer;
    transform: translateY(-20px) scale(1.07) scaley(1.05) ;
    transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s easy-in-out;
    /* animation: float; */
    /* opacity: 0.4; */
    
}
.radioItemGlow:hover{
    box-shadow: 0 3px 10px rgba(31, 80, 99, 0.555); /* Pretty but too fancy, not so elegant*/
    box-shadow: 0 5px 10px rgba(20, 20, 20, 0.63);
}

.radioItem:active {
    background-color: rgb(51, 185, 125);
    background-color: #e9c259;
    background-color: rgb(35, 210, 170);
    background-color: #83d0f2;
    background-color: rgb(51, 214, 219);
    background-color: rgb(73, 150, 180); 
    background-color: rgb(38, 194, 199); 
    background-color: rgb(73, 177, 180); /*<----- Most likely*/
    transition: all 0.05s easy-in-out;

}


.play-image-container{
    padding: 10%;
    opacity: 0;
}

.play-image-container:hover{
    transition: 0.1s;
    opacity: 1;
}


img {
    width: 100%;
    height: 100%;
    /* The image will now try to fit to the box containing it. */
    /* Applying width and height on the html doesn't work. */
}

/* Color ideas:
    MDN: {
        background-color: #222;
        color: #fff;
        color: #83d0f2 
    }
*/

/* ---------Button and player wrapper styles--------- */

button {
    background-color: #4e5174;
    background-color: #83d0f2;
    background-color: rgb(41, 209, 170);
    background-color: rgb(51, 214, 219);
    background-color: rgb(38, 194, 199);

    /* color: #fff; */
    height: 30px;
    min-width: 50px;
}

/* vertical-align: baseline; This is for the images. */

/* Use Display:inline-block for the images. https://www.w3schools.com/css/css_inline-block.asp */