#loader-wrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
}

#loader {
  margin: auto;
  width: 15rem;
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#loader::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 5px;
  background-color: rgb(255, 32, 62);
  animation: tune 3s ease-in-out infinite;
}

#loader::before {
  content: 'Tuning...';
  position: absolute;
  bottom: -2.5rem;
}

#loader span {
  background-color: rgb(75, 75, 75);
  width: 2px;
  height: 2rem;
}

#loader span:nth-child(6n + 1) {
  height: 3rem;
}

#loader span:not(:first-child) {
  margin-left: 5px;
}

@keyframes tune {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(50px);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(20px);
  }

  80% {
    transform: translateX(-40px);
  }
  
  100% {
    transform: translateX(0);
  }
}