.loader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 1000;
  transition: visibility 0.3s, opacity 0.3s linear; /* Opacity for the fade-out effect. Visibility to allow interaction underneath the element. */
  visibility: visible;
  display: flex;
  background-color: #fafafa
}

.loader-wrapper--hide {
  opacity: 0;
  visibility: hidden;
}
