@mixin transition($property) {
  transition: $property 0.2s;
}

.cardA {
  position: relative;
  height: 10rem;
  width: 10rem;
  margin: 10px;
  // border: 0.1px solid rgba(89, 89, 89, 0.8);
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 15px 40px 0 rgba(89, 89, 89, 0.8);
  box-shadow: 0 22px 70px -15px rgba(89, 89, 89, 0.8);

  &__backdrop {
    @include transition(background-color);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;

    &--invisible {
      @include transition(background-color);

      background-color: transparent;
    }
  }

  &__title {
    margin: 0;
    text-align: start;
    text-overflow: 'ellipsis';
    overflow: 'hidden';
    white-space: 'nowrap';
  }

  &__image {
    background-size: cover;
    // width: auto;
    // height: 10rem;
    // display: block;
    width: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
  }
}
