#toast{
    visibility: hidden;
    min-width: 200px;
    height: 50px;
    background-color: rgba(13, 14, 17, 0.98);
    border-radius: 4px;
    color:whitesmoke;
    padding: 15px;
    text-align: center;
    user-select: none;

    bottom: 80px;
    position: fixed;
    z-index: 1;
}

#toast.show{
    visibility: visible;
    animation: fadein 0.5s , fadeout 0.5s 2.5s;
    -moz-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@mixin keyframes($anim-name){
    @keyframes #{$anim-name} {@content;}
    @-moz-keyframes #{$anim-name} {@content;}
    @-webkit-keyframes #{$anim-name} {@content;}
}

@include keyframes(fadein) {
    from{bottom: 65px; opacity: 0;}
    to{bottom: 80px; opacity: 1;}
}

@include keyframes(fadeout) {
    from{bottom: 80px; opacity: 1;}
    to{bottom: 65px; opacity: 0;}
}