@import '_normalize';

html {
  box-sizing: border-box;
}
button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: auto;
  overflow: visible;
  outline: none;
  line-height: normal;
  cursor: pointer;
}

body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
