@import '_normalize';

html {
  box-sizing: border-box;
}

body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
