.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.3s linear;
  display: flex;
  background-color: #fafafa
}

.loaderWrapper--hide {
  opacity: 0;
}

// Spinner
.loader {
  // position: absolute;
  border: 0.05rem solid #e4e4e4;
  border-radius: 50%;
  display: block;
  margin: auto;
  border-top: 0.05rem solid #052fb8;
  width: 3rem;
  height: 3rem;
  animation: spin 0.5s cubic-bezier(0.5, 0.6, 0.5, 1) infinite; 
  // animation: spin 0.5s ease-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
