* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Tajawal', sans-serif;
    color: rgb(255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

// Color palette
$dark: #202127;
$green: #35BE88; 
$gray: #242731;

:root {
    /* Color palette */
    --darkred: #D9361F;
    --red: #FE2F14;
    --orangy: #E96727;
    --orange: #FC6713;

    --green: #35BE88;
    --greenB: #31c88c;
    --greenC: rgb(44, 192, 150);
    --greenD: rgb(16, 240, 154);
    --greenE: rgb(63, 209, 151);
    --greenF: #2ecc71;
}

*::selection {
    color: $green;
}

*::-moz-selection {
    color: $green;
}

body {
    line-height: 1;
    background-image: linear-gradient(to bottom, #191a22, #191a21, #191a21, #191a20, #191a1f);
    margin-bottom: 100px;
}

ul {
    list-style: none;
}

header,
main,
footer {
    margin: 1rem;
}

#github-par,
h2 {
    text-align: center;
}

a {
    text-decoration-color: var(--green);
}

a:hover {
    color: var(--green);
}

h2 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 1rem;
}


.fa.fa-github{
    font-size: 1.5rem;
}

#github-wrapper:hover {
    color: $green;
}

#logo {
    display: inline-block;
    width: 40%;
}