.section-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.radio-item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
    justify-content: center;
    grid-auto-rows: 250px;
    grid-auto-flow: row;
    grid-gap: 1rem;

    // overflow-x: hidden;
}

.radio-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #272833;
    width: 100%;
    border-radius: 4px;
}

.radio-item {
    display: flex;
    background-color: #2C2E3D;
    background-color: #272833;
    border-radius: 4px;
    opacity: 0.9;
    transition: 0.1s ease-in;
    text-align: center;
    padding: 1px;
    transition: 0.2s ease-out;

    // Positioned relative so that pseudoelements' absolute position is 
    // calculated based on the parent's .radio-item position instead of the viewport.
    position: relative;

    &:after {
        content: "play_arrow";
        font-family: "Material Icons";
        font-style: normal;
        font-size: 70px;
        font-weight: 900;

        // content: "\f04b";
        // font-family: 'FontAwesome';
        // font-style: normal;
        // font-size: 50px;
        // font-weight: 900;

        color: rgba(39, 158, 169, 0);
        transition: 0.05s ease-out;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio-item-active {
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    background: var(--green);
    box-shadow: 0px 5px 10px 0px rgba(8, 8, 8, 0.6);
    transform: translateY(-23px) scale(1.09) scaley(1.07);
    transition: all 0.2s ease-out;

    &:after {
        content: "pause";
        font-family: "Material Icons";
        font-style: normal;
        font-size: 60px;

        // Position inherited from .radio-item
        transition: 0.05s ease-out;

        // content: "\f04c";
        // font-family: 'FontAwesome';
        // font-style: normal;
        // font-size: 50px;
    }
}

// Desktops
@media (min-width: 1200px) {
    .radio-item:hover {
        z-index: 1;
        cursor: pointer;
        opacity: 1;
        background-color: #345b75;
        background-color: #289faa;
        transform: translateY(-20px) scale(1.07) scaley(1.05);
        box-shadow: 0px 5px 10px 0px rgba(8, 8, 8, 0.5);
        transition: 0.15s ease-out;

        &:after {
            color: rgba(39, 158, 169, 1);
            transition: .1s ease-out;
        }
    }

    .radio-item-active:hover {
        background: var(--greenE);
        box-shadow: 0px 2px 15px -5px rgba(31, 99, 98, 0.5);
        transform: translateY(-23px) scale(1.09) scaley(1.07);
        transition: all 0.1s ease-out;

        &:after {
            color: var(--green);
            transition: .1s ease-out;
        }
    }
}

// Tablets
@media (max-width: 991.98px) {
    .radio-item-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
        grid-auto-rows: 200px;
    }
}

// Small devices
@media (max-width: 641px) {
    .radio-item-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, max-content));
        grid-auto-rows: 150px;
    }
}

// Really small devices
@media (max-width: 364.98px) {
    .radio-item-list {
        grid-template-columns: repeat(auto-fill, minmax(130px, max-content));
        grid-auto-rows: 130px;
    }
}

// Extra small devices
@media (max-width: 324px) {
    .radio-item-list {
        grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
        grid-auto-rows: 100px;
    }
}